@import "global.css";
html,
body {
	height: 100%;
}

.wrap {
	min-height: 100%;
	height: auto;
	margin: 0 auto -60px;
	padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
	height: 60px;
	background-color: #f5f5f5;
	border-top: 1px solid #ddd;
	padding-top: 20px;
}

.jumbotron {
	text-align: center;
	background-color: transparent;
}

.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}

.not-set {
	color: #c55;
	font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	padding-left: 5px;
}

a.asc:after {
	content: /*"\e113"*/ "\e151";
}

a.desc:after {
	content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
	content: "\e153";
}

.sort-numerical a.desc:after {
	content: "\e154";
}

.sort-ordinal a.asc:after {
	content: "\e155";
}

.sort-ordinal a.desc:after {
	content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
	display: block;
	margin-top: 5px;
	color: #999;
}

.error-summary {
	color: #a94442;
	background: #fdf7f7;
	border-left: 3px solid #eed3d7;
	padding: 10px 20px;
	margin: 0 0 15px 0;
}
.dashed-border-b{border-bottom:1px dashed #dedede;}
.dashed-border-t{border-top:1px dashed #dedede;}
.padding-b8{padding-bottom:8px;}
.padding-t8{padding-top:8px;}

.container{width:960px;}

.post{width:100%;}
.post td{padding:8px;}
.post td.header{}
.post td.body{padding:8px 8px;}
.post td.footer{background:none;height:auto;border-top:none;padding:0px;}
.post td.footer div{margin:8px;padding-top:8px;}

.post-left-column{border:none;border-right:1px solid #dedede;width:180px;}
.post-right-column{border:none;}

.post span{margin-right:5px;}
.post .content{vertical-align:top;}

.author{font-size: 11px;
font-family: Arial,PMingliu,sans-serif;
-webkit-text-size-adjust: none;}
.last-author{font-size: 11px;
font-family: Arial,PMingliu,sans-serif;
-webkit-text-size-adjust: none;}
.smallFont{font-size: 12px;;}
.thread-list{width:100%;}
.thread-list th,.thread-list td{padding:5px; border-bottom:1px solid #dedede;}

.boardinfo dl{margin-left: 31px;padding-left: 10px;}